{% extends 'base.html' %}

{% block content %}


    <div style="padding-top: 3rem;">


        <div class="card card-info mx-auto">
            <h2>About us:</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac egestas nulla, nec suscipit libero.
                Donec ut sapien tortor. Curabitur vitae iaculis lectus. Proin tristique efficitur nulla vel imperdiet.
                Sed cursus lectus sapien, nec mattis quam tincidunt vitae. Aliquam orci ligula, ullamcorper viverra
                feugiat sed, posuere sit amet neque. Proin nunc nunc, interdum sit amet iaculis a, consectetur sed
                tellus. Praesent hendrerit eleifend ornare. Morbi vel risus pulvinar, pharetra turpis ut, dapibus elit.
                Aliquam hendrerit accumsan felis. Aliquam bibendum turpis eu viverra efficitur. Quisque sed urna vitae
                justo volutpat gravida a sit amet dui. Maecenas lobortis sem a pulvinar elementum. Ut consequat auctor
                sagittis. Aliquam sit amet eros ligula.<br><br>

                Proin accumsan, nibh a posuere efficitur, turpis mi dignissim massa, id mattis metus neque et urna. Nam
                commodo mattis magna, in convallis ex tincidunt accumsan. Praesent pulvinar tempor tortor quis
                consequat. Suspendisse feugiat eu dolor id tempor. Sed tincidunt, dolor non euismod condimentum, dolor
                mauris lobortis arcu, sit amet commodo dui mi posuere tortor. Cras dignissim, mi at semper convallis,
                nisl nulla mollis sapien, eu vestibulum orci turpis a nibh. Sed vel ex neque. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia curae;<br><br>

                In nec egestas quam. In scelerisque congue placerat. Nunc rutrum lectus et quam congue, a aliquam magna
                gravida. Duis ornare tempus facilisis. Vestibulum tristique et urna sed placerat. Donec dictum, lorem
                eget dignissim fermentum, ipsum lacus dignissim urna, sed eleifend lacus ex vitae metus. Vestibulum
                semper mollis egestas. Phasellus eu quam porttitor, cursus ipsum sed, molestie orci. Suspendisse maximus
                dapibus dui in dapibus. Suspendisse potenti.<br><br>

                Donec feugiat, felis nec dictum ultrices, nunc mauris blandit mauris, a feugiat lectus ipsum nec nisl.
                Morbi maximus et ipsum ut tristique. Donec ac metus egestas, eleifend lectus ac, euismod mauris.
                Curabitur suscipit ultricies magna ac vulputate. Sed nec feugiat est. Pellentesque diam ipsum, rhoncus
                sed tempus ac, accumsan egestas neque. Nunc suscipit enim eu sapien feugiat blandit. Nulla tincidunt
                ornare ligula, eget condimentum ligula tristique at. Duis ut rhoncus elit.<br><br>

                Donec consequat vestibulum eros ut eleifend. Fusce fringilla tempus augue a dictum.
                Praesent venenatis arcu nulla, eget accumsan ex dictum vel. Nam ut venenatis nisi.
                Fusce magna nisi, iaculis nec consequat eget, egestas id ex.
                Proin sit amet molestie nisl, et dapibus lorem. Donec hendrerit gravida placerat.
                Donec turpis mi, vestibulum et tempor id, sollicitudin vel velit.
                Donec volutpat tellus ac nisl ultricies tempor.
                Nam nec sapien varius, fringilla nisi sit amet, mattis velit.
                Donec dignissim ullamcorper nisl auctor pellentesque.
                Nullam nec ante sit amet sem ullamcorper ultrices.
                Duis porta odio tellus, sed pharetra leo gravida vitae.
                Aenean tristique est velit.
            </p>

        </div>


    </div>


{% endblock %}