<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>{% block name %}DjangoShop{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


<!-- Top navigation panel -->
<nav class="navbar navbar-expand-lg fixed-top">

    <div class="container-fluid">
        <a class="navbar-brand">Welcome to the DjangoShop!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/">
                        About us
                    </a>
                </li>
            </ul>

            <span class="navbar-text" style="color: white; margin-right: 20px">
                We are glad to see you here!
            </span>

            <a href="/" class="btn btn-primary position-relative">
                Profile
            </a>
        </div>
    </div>

</nav>


<!-- Category sidebar -->
<div id="sidebarCatalog" class="fixed-sidebar" style="
        top: 30%;
        left: 0;
        width: auto;
        height: auto;
        border-radius: 0 10px 10px 0;
        overflow-y: auto;
        padding: 1rem;
        z-index: 1030;
    ">
    <h5 style="color: black;">Our catalog:</h5>
    <div class="list-group">
        <a href="/category/fruits" class="list-group-item">
            <span>Fruits</span>
        </a>
        <a href="/category/vegetables" class="list-group-item">
            <span>Vegetables</span>
        </a>
        <a href="/category/dairy-eggs" class="list-group-item">
            <span>Dairy & Eggs</span>
        </a>
        <a href="/category/meat-fish" class="list-group-item">
            <span>Meat and Fish</span>
        </a>
        <a href="/category/exotic" class="list-group-item">
            <span>Exotic</span>
        </a>
    </div>

    <div class="d-flex justify-content-center" style="margin-bottom: -8px;">
        <button id="sidebarHide" class="btn btn-primary btn-sm justify-content-center" style="width: 50px; height: 30px; margin-top: 5px">
            <i class="bi bi-chevron-double-left"></i>
        </button>
    </div>

</div>


<!-- Category sidebar button -->
<button id="sidebarShow" class="btn btn-sidebar-show" style="display: none;">
    <i class="bi bi-chevron-double-right"></i>
</button>


<!-- Shopping cart button -->
<button class="btn shopping-cart-button">
    <i class="bi bi-basket2-fill"></i>
</button>


<!-- Content -->
<div>
    <div class="container my-5">
        {% block content %}
            This is a fallback text.
        {% endblock %}
    </div>
</div>


<script src="{% static 'js/main.js' %}"></script>


</body>
</html>