<div id="sidebarCatalog" class="fixed-sidebar">

    <h5 class="text-main">Our catalog:</h5>

    <div class="list-group">
        {% for category in categories %}
            <a href="/category/{{ category.slug }}" class="list-group-item text-tertiary">
                <span>{{ category.name }}</span>
            </a>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center btn-fixed-sidebar-hide">
        <button id="sidebarHide" class="btn">
            <i class="bi bi-chevron-double-left"></i>
        </button>
    </div>

</div>