<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta charset="UTF-8">
    <title>{% block name %}DjangoShop{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


<!-- Top navigation panel -->
<nav class="navbar navbar-expand-lg fixed-top">

    <div class="container-fluid">
        <span class="navbar-brand text-main">Welcome to the DjangoShop!</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-tertiary" aria-current="page" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-tertiary" href="/pricing/">
                        Pricing
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-tertiary" href="/about/">
                        About us
                    </a>
                </li>
            </ul>

            <span class="navbar-text text-secondary" style="margin-right: 20px">
                We are glad to see you here!
            </span>

            <a href="/" class="btn btn-primary position-relative">
                <i class="bi bi-person"></i>
            </a>
        </div>
    </div>

</nav>


<!-- Category sidebar -->
<nav>
    {% include 'base-catalog.html' %}
</nav>


<!-- Category sidebar button -->
<button id="sidebarShow" class="btn btn-sidebar-show" style="display: none;">
    <i class="bi bi-chevron-double-right"></i>
</button>


<!-- Shopping cart button -->
<button class="btn shopping-cart-button">
    <i class="bi bi-basket2-fill"></i>
</button>


<!-- Content -->
<div class="content container my-5">
    {% block content %}
        This is a fallback text.
    {% endblock %}
</div>


<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p class="mb-1 text-main">© 2025 MyCompany. All rights reserved.</p>
        <p class="mb-0 text-secondary">
            In case of issues, contact:
            <a href="mailto:support@mycompany.com">
                <span class="text-tertiary">
                    support@mycompany.com
                </span>
            </a>
        </p>
        <div class="mt-2">
            <a href="/privacy/">
                <span class="text-tertiary">
                    Privacy Policy
                </span>
            </a>
            <a href="/terms/">
                <span class="text-tertiary">
                    Terms of Service
                </span>
            </a>
        </div>
    </div>
</footer>


<!-- Cookie-banner -->
<div id="cookie-consent" class="cookie-banner">
    <p class="text-secondary">We use cookies to improve performance.</p>
    <button id="accept-cookies" class="btn text-tertiary">Accept</button>
</div>


<script src="{% static 'js/main.js' %}"></script>


</body>
</html>