{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Products -->
    <div style="padding-top: 3rem;">
        <div class="row row-cols-1 row-cols-md-4 g-4">

            {% for product in products %}
            <div class="col">
                <a href="{{ product.slug }}" style="text-decoration: none;">
                    <div class="card product-card"
                         style="
                         background-color: rgba(207,125,44,0.7)"
                         onmouseover="this.style.backgroundColor='rgba(207,125,44,1)'"
                         onmouseout="this.style.backgroundColor='rgba(207,125,44,0.7)'"
                    >

                        <img src="{{ product.images.first.image.url }}" class="card-img-top img-fluid"
                             style="max-width: 400px; max-height: 250px; object-fit: cover;" alt="...">

                        <div class="card-body">
                            <h5 class="card-title" style="color: black">{{ product.name }}</h5>
                            <p class="card-text" style="color: white">{{ product.summary }}</p>
                        </div>

                        <div class="extra-info">
                            <p class="text-white" style="margin-left: 15px">
                                <span style="color: black">Price: </span>
                                <span>${{ product.price|truncatechars:100 }}</span>
                            </p>
                            <p class="text-white" style="margin-left: 15px">
                                <span style="color: black">Quantity: </span>
                                <span>{{ product.quantity|truncatechars:100 }}pc</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}