{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Reviews -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for review in reviews %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-flex justify-content-center my-4">
                        <div class="card card-review" style="width: 40rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span style="color: black;">{{ review.user.first_name }} {{ review.user.last_name }}</span>
                                    <a href="/category/{{ review.product.category.slug }}/{{ review.product.slug }}" style="text-decoration: none;">
                                        <span style="color: white">- {{ review.product.name }}</span>
                                    </a>
                                </h5>
                                <h6 class="card-subtitle mb-2" style="color: white">Rating:
                                    {% for i in review.stars_gold %}
                                        <span style="color: gold;">&#9733;</span>
                                    {% endfor %}
                                    {% for i in review.stars_gray %}
                                        <span style="color: gray;">&#9733;</span>
                                    {% endfor %}
                                </h6>
                                <p class="card-text" style="color: black">{{ review.comment }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev carousel-control-custom" data-bs-target="#carouselExampleAutoplaying" style="left: 250px;" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next carousel-control-custom" data-bs-target="#carouselExampleAutoplaying" style="right: 250px;" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>


    <!-- Products -->
    <div class="row row-cols-1 row-cols-md-4 g-4">

        {% for product in products %}
            <div class="col">
                <a href="category/{{ product.category.slug }}/{{ product.slug }}" style="text-decoration: none;">
                    <div class="card card-product">

                        <img src="{{ product.images.first.image.url }}" class="card-img-top img-fluid"
                             style="max-width: 400px; max-height: 250px; object-fit: cover;" alt="...">

                        <div class="card-body">
                            <h5 class="card-title" style="color: black">{{ product.name }}</h5>
                            <p class="card-text" style="color: white">{{ product.summary }}</p>
                        </div>

                        <div class="extra-info">
                            <p class="text-white" style="margin-left: 15px">
                                <span style="color: black">Price: </span>
                                <span>${{ product.price|truncatechars:100 }}</span>
                            </p>
                            <p class="text-white" style="margin-left: 15px">
                                <span style="color: black">Quantity: </span>
                                <span>{{ product.quantity|truncatechars:100 }}pc</span>
                            </p>
{#                            <img src="{{ product.extra_image.url }}" class="img-fluid rounded" alt="доп. картинка">#}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}