{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- Reviews -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            {% for review in reviews %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-flex justify-content-center my-4">
                        <div class="card card-review">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span class="text-unique">{{ review.user.first_name }} {{ review.user.last_name }}</span>
                                    <span style="color: white">- </span>
                                    <a href="/category/{{ review.product.category.slug }}/{{ review.product.slug }}">
                                        <span class="review-product-link text-link">{{ review.product.name }}</span>
                                    </a>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-secondary">Rating:
                                    {% for i in review.stars_gold %}
                                        <span style="color: gold;">&#9733;</span>
                                    {% endfor %}
                                    {% for i in review.stars_gray %}
                                        <span style="color: gray;">&#9733;</span>
                                    {% endfor %}
                                </h6>
                                <p class="card-text text-tertiary">{{ review.comment }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev carousel-control-prev-reviews" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <i class="bi bi-chevron-left"></i>
        </button>
        <button class="carousel-control-next carousel-control-next-reviews" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <i class="bi bi-chevron-right"></i>
        </button>

    </div>


    <!-- Products -->
    <div class="row row-cols-1 row-cols-md-4 g-4">

        {% for product in products %}
            <div class="col">
                <a class="card card-product" href="category/{{ product.category.slug }}/{{ product.slug }}">

                    <img src="{{ product.images.first.image.url }}" class="card-img-top img-fluid" alt="...">

                    <div class="card-body">
                        <h5 class="card-title text-main">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-secondary">Rating:
                            {% for i in product.average_rating_gold %}
                                <span style="color: gold;">&#9733;</span>
                            {% endfor %}
                            {% for i in product.average_rating_gray %}
                                <span style="color: gray;">&#9733;</span>
                            {% endfor %}
                            <span style="color: lightgray; font-size: 14px">({{ product.amount_of_ratings }})</span>
                        </h6>
                        <p class="card-text text-tertiary">{{ product.summary }}</p>
                    </div>

                    <div class="extra-info">
                        <p>
                            <span class="text-unique">Price: </span>
                            <span class="text-tertiary">${{ product.price|truncatechars:100 }}</span>
                        </p>
                        <p>
                            <span class="text-unique">Quantity: </span>
                            <span class="text-tertiary">{{ product.quantity|truncatechars:100 }}pc</span>
                        </p>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>


{% endblock %}