{% extends 'base.html' %}

{% block content %}


    <!-- Reviews -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            {% for review in reviews %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-flex justify-content-center my-4">
                        <div class="card card-review">
                            {% include 'review.html' %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev carousel-control-prev-reviews" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <i class="bi bi-chevron-left"></i>
        </button>
        <button class="carousel-control-next carousel-control-next-reviews" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <i class="bi bi-chevron-right"></i>
        </button>

    </div>


    <!-- Products -->
    {% include 'product-preview.html' %}


{% endblock %}