{% extends 'base.html' %}

{% block content %}


    <div style="padding-top: 3rem;">


        <div class="card card-info mx-auto">
            <h2>About pricing:</h2>
            <p class="card-text">
                <span class="text-unique">Lorem ipsum dolor sit amet:</span><br>
                Consectetur adipiscing elit. Duis in nibh non turpis sodales ornare a ut massa. Fusce nulla sapien,
                vestibulum in imperdiet sed, cursus eget odio. Suspendisse a finibus urna, vestibulum ultricies felis.
                Sed suscipit varius dolor eu sagittis. In leo mauris, tincidunt nec rutrum id, volutpat nec erat. Cras
                et orci porttitor, faucibus urna rhoncus, suscipit velit. Duis molestie mollis sem vel vehicula. Sed non
                luctus nulla.<br><br>

                <span class="text-unique">Sed imperdiet semper arcu at congue:</span><br>
                Nulla cursus rutrum venenatis. Quisque semper maximus urna sed porttitor. Nulla in ligula laoreet,
                aliquam sem id, pharetra nisl. Etiam porttitor mauris eu venenatis placerat. Vivamus quis dolor
                malesuada, euismod sapien in, porttitor ex. Etiam viverra sollicitudin sapien, ac molestie metus. In
                tincidunt lectus ligula, in tincidunt nibh consectetur a. Pellentesque ullamcorper dictum purus, ac
                vestibulum libero interdum et. Vivamus sem libero, pharetra vel ex ac, accumsan congue mi. Pellentesque
                porta sapien sit amet finibus dapibus. Fusce molestie mi sodales arcu bibendum facilisis. Aenean
                condimentum facilisis tellus, nec consectetur dolor congue et. Mauris vel quam interdum, lobortis erat
                vitae, viverra diam. Maecenas placerat nisi eget scelerisque venenatis. Sed nec ligula ac risus aliquet
                egestas non et nulla.<br><br>

                <span class="text-unique">Phasellus aliquet lacus id dui tempus pellentesque:</span><br>
                Vestibulum faucibus felis sit amet dolor pellentesque, eget sollicitudin ex porta. Curabitur mauris
                orci, placerat sit amet ultrices eu, hendrerit et massa. Nullam volutpat leo et sapien efficitur semper.
                Nam a massa pretium, vulputate nibh et, vulputate metus. Nulla facilisi. Nam tincidunt dolor a mi
                bibendum elementum. Cras ut mauris felis. Phasellus tempus in lacus et cursus. Quisque tristique velit
                nec libero posuere, at fringilla orci porttitor. In sed nulla id purus convallis congue sed ullamcorper
                velit. Nulla dapibus volutpat rutrum.<br><br>

                <span class="text-unique">Vivamus mollis:</span><br>
                Metus eu tempor laoreet, ante nunc aliquet sapien, ac viverra nisi urna nec orci. Mauris ornare ipsum
                nec sem facilisis pulvinar. Pellentesque fermentum libero odio, a tempus ex lobortis in. Aliquam auctor,
                eros ut feugiat blandit, nisi ex mollis turpis, eget ultrices orci lorem eu turpis. Suspendisse nibh
                sem, viverra non enim id, placerat suscipit ex. Fusce varius aliquam libero et auctor. Proin ut mattis
                sem, id pulvinar diam. Sed et rutrum nulla, et gravida orci. Pellentesque sem dui, viverra vitae felis
                a, iaculis fringilla purus. Ut scelerisque feugiat dignissim.<br><br>

                <span class="text-unique">Donec eget venenatis diam:</span><br>
                Vitae efficitur risus. Maecenas dapibus justo non metus tincidunt semper. Pellentesque nulla ante,
                blandit id lorem sed, posuere faucibus nisi. Aliquam erat volutpat. Donec bibendum iaculis lectus vel
                facilisis. Pellentesque vel pellentesque metus. Donec condimentum justo eu ante luctus, quis elementum
                mauris tincidunt. Vivamus placerat erat id lectus dictum vehicula. Ut vehicula arcu sit amet elit
                pellentesque aliquet. Sed pharetra eros sem, vitae posuere turpis tempor eu. Aliquam elementum pulvinar
                est. Sed consectetur in arcu id tincidunt. Morbi vel lobortis urna. Curabitur ut dapibus sapien. Proin
                vulputate, turpis nec eleifend feugiat, mi tortor finibus quam, id auctor nulla est scelerisque ante.
                Mauris a gravida nisl.
            </p>

        </div>


    </div>


{% endblock %}