{% extends 'base.html' %}

{% block content %}


    <div style="padding-top: 3rem;">


        <div class="card card-info mx-auto">
            <h2>Privacy Policy:</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt justo eu nunc malesuada
                malesuada.In vel sollicitudin sapien. Donec tempus tortor eget tincidunt elementum. Aliquam quam nisl,
                cursus in semper ut, mollis ut metus. Vestibulum interdum, turpis in euismod imperdiet, dui turpis
                auctor massa, sed dictum felis massa vulputate urna. Nulla sed auctor risus. Nullam elementum ornare
                velit, in posuere libero. Nunc sagittis nisi sem, nec molestie dui mollis ullamcorper. Duis
                sollicitudin, ante et tincidunt posuere, orci ex dignissim risus, sit amet efficitur tortor lacus vitae
                risus. Aliquam tristique, metus rhoncus tempor accumsan, tellus lacus egestas nibh, eget consectetur
                justo felis sit amet velit. Aliquam erat volutpat. Etiam mattis vehicula urna, ac laoreet diam iaculis
                eu. Proin efficitur augue ornare orci posuere porta. Duis non massa vulputate, aliquet ligula et,
                dignissim sem.<br><br>

                Vestibulum ut efficitur dolor, non iaculis tellus. Integer interdum neque ex, in sollicitudin eros
                finibus nec. Phasellus cursus leo diam, sit amet tempus dolor mattis id. Nullam feugiat eget massa vitae
                condimentum. Phasellus pretium, tellus sed auctor suscipit, massa urna interdum tortor, sed interdum
                elit sem ut quam. Cras nisl dolor, egestas vel metus eu, pharetra molestie nunc. Vestibulum fermentum
                sapien neque, ac hendrerit leo sollicitudin quis. Maecenas at luctus mauris, dignissim egestas nunc.
                Integer placerat augue id ex mollis porttitor. Sed nec lobortis elit. Sed auctor odio dolor, vel
                dignissim erat congue a. In ut erat ac justo finibus aliquam. Cras in odio egestas, pharetra ipsum et,
                venenatis magna. Duis iaculis, felis pretium facilisis placerat, dui nisi facilisis libero, sed viverra
                libero dui vel massa. Etiam tincidunt, sem nec auctor auctor, felis elit pulvinar urna, non pellentesque
                magna dui ut sem. Praesent consequat aliquam ipsum ac dapibus.<br><br>

                Cras laoreet fermentum sem ut iaculis. Aenean sit amet ex tellus. Donec eleifend luctus urna viverra
                placerat. Etiam nec nunc ut libero aliquam tincidunt. Morbi egestas metus dui, eget dictum libero
                bibendum vel. In ornare vitae leo a pretium. Etiam eget pellentesque dolor. Nullam facilisis diam sit
                amet ipsum feugiat, sed consectetur nunc ornare. Duis pharetra augue eu justo cursus malesuada. Interdum
                et malesuada fames ac ante ipsum primis in faucibus. Phasellus convallis quam pellentesque, dignissim
                massa vel, efficitur ante. Phasellus at risus non lorem pellentesque cursus ut vel erat. Suspendisse non
                gravida lectus. Vivamus maximus ac lorem in dignissim.<br><br>

                Fusce id odio non lorem consectetur sagittis. Suspendisse faucibus placerat nulla, non sagittis tortor
                maximus iaculis. Sed id lectus justo. Sed eu accumsan justo. In hac habitasse platea dictumst.
                Suspendisse fringilla ante tellus, eu convallis libero eleifend non. Vestibulum pulvinar quis dolor
                ullamcorper finibus. Etiam accumsan tellus urna, vitae congue nulla placerat eu.<br><br>

                Fusce finibus diam a tristique vulputate. Vivamus ultricies, leo quis tempus faucibus, erat ante aliquam
                nisl, ac commodo tortor dolor in elit. Quisque vel odio nec urna consectetur scelerisque sed id tellus.
                Suspendisse hendrerit lacus mauris, nec sollicitudin magna commodo eu. Vivamus vulputate at ex at
                mattis. Ut vel risus feugiat mi fringilla iaculis. Mauris leo risus, tincidunt sit amet efficitur vel,
                feugiat eu metus. Suspendisse rhoncus fringilla ultrices. Pellentesque convallis finibus augue. Sed
                dolor justo, dignissim sit amet molestie non, faucibus quis massa. Donec eleifend massa ligula, vel
                euismod nisl euismod eget. Suspendisse sit amet egestas turpis. Cras ligula magna, faucibus in gravida
                nec, porta nec dui.
            </p>

        </div>


    </div>


{% endblock %}