<div class="row row-cols-1 row-cols-md-4 g-4">

    {% for product in products %}
        <div class="col">
            <a class="card card-product-preview" href="/category/{{ product.category.slug }}/{{ product.slug }}">

                <div id="carouselProduct{{ product.id }}" class="carousel slide">
                    <div class="carousel-inner card-img-top">
                        {% for image in product.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100 h-100 round-top"
                                     alt="{{ product.name }}">
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Carousel navigation buttons -->
                    {% if product.images.count > 1 %}
                        <button class="carousel-control-prev carousel-control-prev-product-preview" type="button"
                                data-bs-target="#carouselProduct{{ product.id }}" data-bs-slide="prev">
                            <i class="bi bi-chevron-left"></i>
                        </button>
                        <button class="carousel-control-next carousel-control-next-product-preview" type="button"
                                data-bs-target="#carouselProduct{{ product.id }}" data-bs-slide="next">
                            <i class="bi bi-chevron-right"></i>
                        </button>
                    {% endif %}
                </div>

                <div class="card-body">
                    <h5 class="card-title text-main">{{ product.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-secondary">Rating:
                        {% for i in product.average_rating_gold %}
                            <span style="color: gold;">&#9733;</span>
                        {% endfor %}
                        {% for i in product.average_rating_gray %}
                            <span style="color: gray;">&#9733;</span>
                        {% endfor %}
                        <span style="color: lightgray; font-size: 14px">({{ product.amount_of_ratings }})</span>
                    </h6>
                    <p class="card-text text-tertiary">{{ product.summary }}</p>
                </div>

                <div class="extra-info">
                    <p>
                        <span class="text-unique">Price: </span>
                        <span class="text-tertiary">${{ product.price|truncatechars:100 }}</span>
                    </p>
                    <p>
                        <span class="text-unique">Quantity: </span>
                        <span class="text-tertiary">{{ product.quantity|truncatechars:100 }}pc</span>
                    </p>
                </div>
            </a>
        </div>
    {% endfor %}

</div>