{% extends 'base.html' %}

{% block content %}


    <div style="padding-top: 3rem;">

        <!-- Product -->
        <div class="card card-product-overview mx-auto">
            <!-- Image carousel -->
            <div id="carouselProduct{{ product.id }}" class="carousel slide">
                <div class="carousel-inner" style="height: 320px;">
                    {% for image in product.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100 h-100 round-top"
                                 alt="{{ product.name }}">
                        </div>
                    {% endfor %}
                </div>

                <!-- Carousel navigation buttons -->
                {% if product.images.count > 1 %}
                    <button class="carousel-control-prev carousel-control-prev-product" type="button"
                            data-bs-target="#carouselProduct{{ product.id }}" data-bs-slide="prev">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <button class="carousel-control-next carousel-control-next-product" type="button"
                            data-bs-target="#carouselProduct{{ product.id }}" data-bs-slide="next">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                {% endif %}
            </div>

            <!-- Product's info -->
            <div class="card-body">
                <h5 class="card-title text-main" style="margin-top: -5px">{{ product.name }}</h5>
                <p class="card-text text-tertiary">{{ product.summary }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-static">
                    <span class="text-secondary">Price: </span>
                    <span class="text-secondary">${{ product.price }}</span>
                </li>
                <li class="list-group-item list-group-item-static">
                    <span class="text-secondary">Quantity: </span>
                    <span class="text-secondary">{{ product.quantity }}pc</span>
                </li>
            </ul>
            <div class="card-body">
                <a href="/" class="btn btn-primary">
                    Add to cart
                </a>
            </div>
        </div>


        <!-- Reviews -->
        <h1 class="display-3 text-main" style="margin-top: 100px;">Customers reviews:</h1>

        {% if reviews %}

            <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
                {% for review in reviews %}
                    <div class="card card-review-static col">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="text-unique">{{ review.user.first_name }} {{ review.user.last_name }}</span>
                                <span style="color: white">- </span>
                                <a href="/category/{{ review.product.category.slug }}/{{ review.product.slug }}">
                                    <span class="review-product-link text-link">{{ review.product.name }}</span>
                                </a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-secondary">Rating:
                                {% for i in review.stars_gold %}
                                    <span style="color: gold;">&#9733;</span>
                                {% endfor %}
                                {% for i in review.stars_gray %}
                                    <span style="color: gray;">&#9733;</span>
                                {% endfor %}
                            </h6>
                            <p class="card-text text-tertiary">{{ review.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}

            <h4 class="display-5 text-unique">No reviews yet!</h4>

        {% endif %}

    </div>


{% endblock %}