{% extends 'base.html' %}

{% block content %}

    <!-- Product -->
    <div class="card mx-auto" style="width: 500px; top: 50px;">
        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.summary }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: ${{ product.price }}</li>
            <li class="list-group-item">Quantity: {{ product.quantity }}pc</li>
        </ul>
        <div class="card-body">
            <a href="/" class="btn btn-primary">Add to cart</a>
        </div>
    </div>

    <!-- Reviews -->
    <h1 class="display-3" style="color: white; margin-top: 100px;">Customers reviews:</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
        {% for review in reviews %}
            <div class="col">
                <div class="card h-100" style="background-color: rgb(242,255,242);">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span style="color: black;">{{ review.user.first_name }} {{ review.user.last_name }}</span>
                            <a href="/product/{{ review.product.slug }}" style="text-decoration: none;">
                                <span class="text-body-secondary">- {{ review.product.name }}</span>
                            </a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Rating:
                            {% for i in review.stars_gold %}
                                <span style="color: gold;">&#9733;</span>
                            {% endfor %}
                            {% for i in review.stars_gray %}
                                <span style="color: gray;">&#9733;</span>
                            {% endfor %}
                        </h6>
                        <p class="card-text">{{ review.comment }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}