{% extends 'base.html' %}

{% block content %}


    <div style="padding-top: 3rem;">


        <div class="card card-info mx-auto">
            <h2>Terms of Service:</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel elit pellentesque, consectetur
                diam in, iaculis massa. In a ultricies magna. Donec sodales auctor enim, vitae tincidunt orci feugiat
                non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla lacinia convallis imperdiet. Vivamus
                mollis egestas erat a rutrum. Aliquam bibendum dolor nec gravida elementum. Suspendisse consectetur eu
                lacus nec mollis. Nullam sed ultrices velit.<br><br>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget eros ut mi dapibus interdum
                vitae nec sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Aenean pellentesque porttitor tincidunt. Suspendisse lobortis ipsum nec neque convallis
                sollicitudin. Aliquam eu tincidunt ligula. Fusce magna lacus, pellentesque in convallis eget, placerat
                quis lorem. Quisque vitae mattis tortor. Curabitur diam lacus, facilisis a urna a, aliquam porta mi.
                Quisque ornare est id nibh iaculis, id convallis augue laoreet. Nullam auctor risus justo, ut maximus
                lectus gravida nec. Sed semper maximus nisi, in accumsan arcu pellentesque pellentesque.<br><br>

                Aliquam id urna congue sem interdum condimentum in ut mauris. Sed vitae ultricies ex, et sollicitudin
                diam. Sed arcu nulla, malesuada accumsan nibh a, porta sollicitudin sem. Sed eu augue et magna elementum
                convallis volutpat in purus. Cras a dui eget velit fringilla lacinia. Cras tellus lorem, mattis eget
                rhoncus tempus, hendrerit in mauris. Donec sit amet est at ipsum porta pellentesque. Nunc ultrices
                cursus est, vitae blandit odio consequat ac. Phasellus ut varius metus. Etiam ex est, lacinia a orci
                vel, ornare faucibus erat. Fusce nisl ante, eleifend non elit vel, facilisis commodo ligula. Ut non
                vestibulum tellus, eget luctus libero. Mauris nunc magna, egestas ac sapien in, blandit consectetur
                felis. Sed eu nibh ullamcorper, scelerisque neque et, interdum nisi.<br><br>

                Mauris at volutpat lectus. Morbi gravida mi feugiat, egestas mauris id, porttitor purus. Maecenas
                placerat placerat lorem, in pulvinar urna commodo id. Phasellus volutpat id ligula quis rhoncus. Nullam
                at nibh ac purus eleifend volutpat. Curabitur at sollicitudin quam. Nulla vel molestie orci.<br><br>

                Aenean ut magna suscipit, ullamcorper nulla vitae, mattis quam. Ut non pellentesque felis. Donec velit
                nibh, aliquam sagittis lectus non, dapibus pharetra ligula. Duis metus sem, ornare vitae fermentum a,
                ultricies ut risus. Sed sodales euismod vestibulum. Mauris tempus condimentum felis eget tincidunt.
                Mauris pulvinar mi quis augue placerat, ut auctor lacus mollis.
            </p>

        </div>


    </div>


{% endblock %}