:root {
    --color-primary: 151,76,6;
    --color-secondary: 207, 125, 44;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("../background.png") no-repeat center center fixed;
    background-size: cover;
}

.card-product {
    background-color: rgba(var(--color-secondary), 0.7);
    transition: transform 0.4s ease, background-color 0.4s ease;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card-product:hover {
    background-color: rgba(var(--color-secondary), 1);
    transform: scale(1.05);
}

.card-product .extra-info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.card-product-overview {
    background-color: rgb(var(--color-primary));
    width: 500px;
    overflow: hidden;
}

.card-product:hover .extra-info {
    max-height: 400px;
    opacity: 1;
}

.navbar{
    background-color: rgb(var(--color-primary));
}

.nav-link {
    color: white;
    border-radius: 4px;
    background-color: rgba(var(--color-secondary), 0);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.nav-link:hover {
    color: white;
    background-color: rgba(var(--color-secondary), 0.6);
    transform: scale(1.04);
}

.btn {
    background-color: rgba(var(--color-secondary), 1);
    border-color: white;
    box-shadow: none;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.btn:hover {
    background-color: rgba(var(--color-secondary), 0.7);
    border-color: white;
    transform: scale(1.05);
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
    background-color: rgba(var(--color-primary), 1) !important;
    border-color: white !important;
}

.list-group-item {
    overflow: visible;
    color: white;
    background-color: rgba(var(--color-secondary), 1);
    transition: background-color 0.6s ease;
}

.list-group-item:hover {
    background-color: rgba(var(--color-secondary), 0.7);
}

.list-group-item-static {
    background-color: rgb(var(--color-secondary));
    border-color: rgb(var(--color-primary));

}

.list-group-item-static:hover {
    background-color: rgb(var(--color-secondary));
}

.list-group-item:not(.list-group-item-static) span {
    display: inline-block;
    transition: transform 0.4s ease;
}

.list-group-item:not(.list-group-item-static):hover span{
    transform: scale(1.03);
}

.shopping-cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgba(var(--color-primary), 0.4);
    border-radius: 50%;
    color: white;
    font-size: 34px;
    text-decoration: none;
    transition: transform 0.4s ease, background-color 0.4s ease;
    border: none;
}

.shopping-cart-button:hover {
    background-color: rgba(var(--color-primary), 0.8);
    color: white;
    transform: scale(1.05);
}

.btn-sidebar-show {
    position: fixed;
    top: 40%;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(var(--color-primary), 0.4);
    border-radius: 50%;
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: transform 0.4s ease, background-color 0.4s ease;
    border: none;
}

.btn-sidebar-show:hover {
    background-color: rgba(var(--color-primary), 0.8);
    color: white;
    transform: scale(1.05);
}

.card-review {
    background-color: rgb(var(--color-primary));
}

.card-review:hover {
    background-color: rgb(var(--color-primary));
}

.carousel-control-custom {
    background-color: rgb(var(--color-primary));
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.4s ease;
}

.carousel-control-custom:hover {
    transform: translateY(-50%) scale(1.05);
}

.fixed-sidebar {
    background-color: rgb(var(--color-primary));
    position: fixed;
    transition: transform 0.4s ease, opacity 0.4s ease ;
    opacity: 0.7;
    transform-origin: left center;
}

.fixed-sidebar:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.fixed-sidebar.collapsed {
    transform: translateX(-100%) scale(0.6);
    opacity: 0;
}